.homemasterDiv {
    display: flex;
    align-items: center;       /* Vertically centers the content */
    width: 100%;               /* Corrected 'Width' to 'width' */
    justify-content: space-between  
    
    

  }
  .mainContent{
    display: flex;
    width: 100%;
    justify-content: center;
    
  }
  