.homemasterDiv {
    display: flex;
    align-items: center;       /* Vertically centers the content */
    width: 100%;               /* Corrected 'Width' to 'width' */
    justify-content: space-between;
    background-color: black;
    
  color: white;
  ;

  

  }
  .mainContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-weight: 700;

    padding-left: 40px;
    
    
  }

  .Name {
    font-size: 40px;
    animation: bounce 2s infinite; /* Bounce animation with infinite loop */
  }
  
  /* Bounce Animation for Text */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .imageDiv{
    display: flex;
    align-items: center;
    padding: 1rem;

    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

  }